autofeat==2.1.3
joblib==1.5.1
lightgbm==4.6.0
matplotlib==3.10.3
numpy
optuna==4.4.0
pandas==2.3.1
Requests==2.32.4
scikeras==0.13.0
scikit_learn==1.7.1
seaborn==0.13.2
tensorflow==2.19.0
torch==2.5.1+cu121
xgboost==3.0.2
